body {
    background-color: #f5f5f5;
}

.nav {
    height: 140px;
    background-color: #242424;
    border-bottom: solid #000000;

}

.logo {
    float: left;
    width: 324px;
    height: 65px;
    margin-left: 320px;
    margin-right: 33px;
    margin-top: 40px;
}

.menu {
    float: left;
}
.menu a {
    float: left;
    font-size: 30px;
    color: #c2c2c2;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 140px;
    /* background-color: blue; */
}
.menu a:hover {
    color: #fff;
    background-color: #000000;
    ;
}
.menu .first{
    color: #fff;
    background-color: #000000;
}

.search {
    float: left;
    width: 325px;
    height: 66px;
    margin-left: 170px;
    background-color: #fff;
    border-radius: 33px 33px;
    margin-top: 36px;
}
.search .text {
    display: inline-block;
    width: 225px;
    height: 62px;
    margin-left: 33px;
    border-color: transparent;
    outline: none;
    font-size: 22px;
    color: #c6c6c6;
}
.search .btn {
    margin-top: 18px;
    border: none;
}

.center {
    float: left;
    height: 62px;
    margin-left: 25px;
    margin-top: 36px;
    border-radius: 33px;
    border-style: solid;
    border-color: #4f4f4f;
}
.center a {
    float: left;
    font-size: 24px;
    line-height: 62px;
    color: #c7c7c7;
    padding-left: 35px;
    padding-right: 35px;
    

}
.center:hover {
    border-color: #fff;
}

.sign {
    float: left;
    margin-left: 40px;
    margin-top: 54px;
    color: #5b5b5b;
    font-size: 24px;

}
.sign:hover {
    color: #c6c6c6;
    text-decoration: underline;
}

.nav2 {
    float: left;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #c20c0c;
}
.nav2 .menu2 {
    float: left;
    width: 1175px;
    height: 40px;
    margin-left: 680px;
    margin-top: 15px;
}

.nav2 .menu2 a {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin: 0 35px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
.nav2 .menu2 a:hover {
    background-color: #9b0909;
}
.nav2 .menu2 .first {
    background-color: #9b0909;
}
.nav2 .angle {
    position: absolute;
    left: 755px;
    top: -35px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #c20c0c;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 2;
}

.content {
    float: left;
    width: 100%;
    height: 570px;
    background-color: #4a97bb;
}
.content .poster {
    position: relative;
    float: left;
    width: 1463px;
    height: 570px;
    background-color: pink;
    margin-left: 442px;
}
.content .poster img {
    display: inline-block;
    width: 1463px;
    height: 570px;
}
.content .download {
    float: left;
    width: 507px;
    height: 570px;
}
.content .download>div {
    float: left;
    width: 255px;
    height: 287px;
    background-image: url("../upload/download.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    zoom: 2;
    /* background-color: red; */
}
.content .download a{
    float: left;
    width: 215px;
    height: 56.5px;
    margin-left: 19px;
    margin-top: 185px;
}
.content .download a:hover {
    background-color: rgb(0,0,0,0.1);
}
.content .left a,
.content .right a{
    width: 90px;
    height: 130px;
    font-size: 100px;
    color: #e8e8e8;
}
.content .left a {
    position: absolute;
    top: 50%;
    margin-top: -65px;
    margin-left: -90px;
}
.content .right a {
    position: absolute;
    top: 50%;
    margin-top: -65px;
    right: 0;
    margin-right: -597px;
}
.content .left a:hover,
.content .right a:hover {
    background-color: #a8a8a8;
}
.content .poster .choice {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 60px;
}
.content .poster .choice a {
    float: left;
    width: 12px;
    height: 12px;
    margin: 25px 16px;
    background-color: #c7c7c7;
    border-radius: 6px;
}
.content .poster .choice a:hover {
    background-color: #c10d0c;
}


.main {
    float: left;
    width: 1970px;
    height: 2856px;
    margin-left: 442px;
    margin-top: 1px;
    border: 1px solid #c2c2c2;
}
.main .column {
    float: left;
    width: 1463px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c2c2c2;
}
.main .column .hot {
    float: left;
    width: 100%;
    height: 1120px;
    background-color: #fff;
}
.main .column .hot .head,
.new .head,
.list .head {
    float: left;
    width: 96%;
    height: 72px;
    margin-top: 33px;
    margin-left: 30px;
    margin-bottom: 40px;
    border-bottom: 4px solid #c10d0c;
}
.head .link {
    float: left;
    width: 545px;
    height: 26px;
    margin-top: 23px;
}
.head .link a {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    font-size: 24px;
    color: #666666;
    line-height: 26px;
    border-right: 1px solid #666666;
}
.head .one {
    float: left;
    margin-left: 77px;
    margin-right: 10px;
    font-size: 40px;
    color: #333333;
    line-height: 72px;
}
.head .six {
    border-right: 1px solid transparent;
}
.column .head .more {
    height: 26px;
    margin-top: 23px;
    float: right;
}
.head .seven {
    margin-right: 90px;
    font-size: 24px;
    color: #666666;
    line-height: 26px;
    border-right: 1px solid transparent;
}
.hot .link a:hover,
.hot .more a:hover,
.new .more a:hover,
.list .more a:hover {
    text-decoration:underline;
}
.column .new {
    float: left;
    width: 100%;
    height: 555px;
}
.column .list {
    float: left;
    width: 100%;
    height: 1285px;
    background-color: #fff;
}
.hot .body>div {
    float: left;
    width: 280px;
    height: 420px;
    margin: 40px;
    margin-top: 0;
}
.hot .body>div>div {
    border: 1px solid #c2c2c2;
}
.hot .body img {

    float: left;
    width: 280px;
    height: 280px;
}
.hot .body span {
    display: inline-block;
    margin-top: 15px;
    font-size: 28px;
    color: #000000;
}
.hot .body span a {
    color: #000000;
}
.hot .body span a:hover {
    text-decoration:underline;
}
.new .body {
    position: relative;
    float: left;
    width: 1378px;
    height: 376px;
    background-color: #f5f5f5; 
    margin-left: 45px;
    border: 1px solid #c2c2c2;
}
.new .body>div {
    float: left;
    width: 200px;
    height: 280px;
    /* background-color: pink; */
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 35px;
}
.new .body img {
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid #c2c2c2;
}
.new .body h {
    display: inline-block;
    height: 23px;
    width: 200px;
    font-size: 20px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: blue; */
}
.new .body span {
    display: inline-block;
    height: 23px;
    width: 200px;
    font-size: 20px;
    margin-top: 5px;
    /* background-color: red; */
}
.new .body h a {
    color: #000000;
}
.new .body span a {
    color: #666666;
}
.new .body h a:hover,
.new .body span a:hover {
    text-decoration: underline;
}
.new .left a,
.new .right a{
    font-size: 40px;
    color: #a8a8a8;
}
.new .body .left a {
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: 12px;
}
.new .body .right a {
    position: absolute;
    top: 40%;
    right: 0;
    margin-right: 30px;
}
.new .left a:hover,
.new .right a:hover {
    color: #4f4f4f;
}
.column .list .body {
    float: left;
    width: 1371px;
    height: 944px;
    background-color: rgb(244,244,244);
    margin-left: 45px;
    border: 1px solid rgb(221,221,221);
}
.list .body>div {
    float: left;
    height: 100%;
    width: 455px;
    border: 1px solid rgb(221,221,221);
}
.list .body .title {
    float: left;
    width: 455px;
    height: 240px;
}
.list .title .photo a {
    float: left;
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border: 1px solid #c2c2c2;
}
.list .title .photo a img {
    display: inline-block;
    width: 160px;
    height: 160px;

}
.list .title .text {
    float: left;
    width: 110px;
    height: 110px;
    background-color: #fff;
    margin-top: 40px;
    padding: 20px;
}
.list .title .text a {
    font-size: 30px;
    color: #000000;
}
.list .title .text a:hover {
    text-decoration: underline;
}

.list .body .ol {
    float: left;
    width: 455px;
    height: 640px;
}
.list .ol ol {
    display: inline-block;
    width: 455px;
    height: 640px;
}
.list .ol ol li {
    float: left;
    width: 455px;
    height: 64px;
}
.list li span {
    float: left;
    width: 28px;
    margin-left: 25px;
    font-size: 28px;
    padding: 13px 20px;
}
.list li a {
    float: left;
    width: 300px;
    height: 64px;
    font-size: 25px;
    line-height: 64px;
    color: #000;
}
.list li .top {
    color:rgb(193,13,90);
}
.list .danshu {
    background-color: #e8e8e8;
}
.list .body .more {
    float: left;
    width: 455px;
    height: 63px;
    background-color: #e8e8e8;
}
.list .body .more a {
    float: right;
    font-size: 25px;
    color: #000;
    margin-top: 17.5px;
    margin-right: 65px;
}
.list li a:hover {
    text-decoration: underline;
}


.main .sidebar {
    float: left;
    width: 500px;
    height: 100%;
    background-color: #fff;
}
.sidebar .signin {
    float: left;
    width: 505px;
    height: 245px;
    background-color: rgb(234,234,234);
    border-bottom: 1px solid #a8a8a8;
}
.sidebar .signin .text {
    float: left;
    width: 411px;
    height: 90px;
    margin-top: 38px;
    margin-left: 52px;
    font-size: 24px;
}
.sidebar .signin .link {
    float: left;
    margin-top: 15px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(209,16,22);
    border-radius: 10px;
}
.sidebar .signin .link a {
    font-size: 24px;
    color: #fff;
}
.sidebar .signin .link:hover {
    background-color: rgb(224,32,40);
}

.sidebar .singer {
    float: left;
    width: 505px;
    height: 1300px;
}
.sidebar .singer .head {
    float: left;
    width: 425px;
    height: 60px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #fff;
    border-bottom: 3px solid #a8a8a8;
}
.sidebar .singer .head span {
    float: left;
    font-size: 26px;
    color: #000000;
    line-height: 60px;
}
.sidebar .singer .head a {
    float: right;
    font-size: 26px;
    color: #666666;
    line-height: 60px;
}
.sidebar .singer .head a:hover {
    text-decoration: underline;
}

.sidebar .singer .body {
    float: left;
    width: 425px;
    height: 765px;
    margin-left: 40px;
    margin-top: 25px;
    background-color: #fff;
}
.sidebar .singer .body a {
    float: left;
    width: 425px;
    height: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 33px;
    line-height: 125px;
    color: #000;
    border: 1px solid #a8a8a8;

}
.sidebar .singer .body img {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 50px;
}
.sidebar .singer .body a:hover {
    background-color: rgb(244,244,244);
}
.sidebar .singer .apply {
    display: inline-block;
    margin-top: 50px;
    margin-left: 38px;
    padding: 14px 103px;
    font-size: 25px;
    color: #000;
    background-color: rgb(244,244,244);
    border-radius: 10px;
    border: 2px solid #c6c6c6;
}
.sidebar .singer .apply:hover {
    background-color: rgb(252,252,252);
}

.bottom {
    float: left;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border: 1px solid #a8a8a8;
}
.bottom .service {
    float: left;
    width: 1854px;
    height: 300px;
    margin-left: 500px;
}
.bottom .service>div {
    float: left;
    width: 148px;
    height: 148px;
    margin: 58px;
    background-color: #fff;
}
.bottom a {
    float: left;
    margin: 0 19px;
    height: 110px;
    width: 110px;
    background-image: url("../images/service.png");
}
.bottom span {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 148px;
    margin: 15px auto;
}

.bottom .service .one {
    background-position: -330px 0;
}
.bottom .service .two {
    background-position: 0 -330px;
}
.bottom .service .three {
    background-position: 0 -110px;
}
.bottom .service .four {
    background-position: -110px -110px;
}
.bottom .service .five {
    background-position: -220px -220px;
}
.bottom .service .six {
    background-position: -330px -220px;
}
.bottom .service .seven {
    background-position: -330px -110px;
}

.bottom .service .one:hover {
    background-position: 0 -220px;
}
.bottom .service .two:hover {
    background-position: -110px -330px;
}
.bottom .service .three:hover {
    background-position: -110px 0;
}
.bottom .service .four:hover {
    background-position: -220px 0;
}
.bottom .service .five:hover {
    background-position: 0 0;
}
.bottom .service .six:hover {
    background-position: -110px 0;
}
.bottom .service .seven:hover {
    background-position: -220px -110px;
}
