body {
    background-color: #f5f5f5;
}

.nav {
    position: relative;
    height: 70px;
    background-color: #242424;
    border-bottom: solid #000000;
    border-bottom: 5px solid #c20c0c;
}

.logo {
    float: left;
    width: 162px;
    height: 32.5px;
    margin-left: 160px;
    margin-right: 16.5px;
    margin-top: 20px;
}

.menu {
    float: left;
}
.menu a {
    float: left;
    font-size: 15px;
    color: #c2c2c2;
    padding-left: 17.5px;
    padding-right: 17.5px;
    line-height: 70px;
    /* background-color: blue; */
}
.menu a:hover {
    color: #fff;
    background-color: #000000;
;
}
.menu .first{
    color: #fff;
    background-color: #000000;
}

.search {
    float: left;
    width: 162.5px;
    height: 33px;
    margin-left: 85px;
    background-color: #fff;
    border-radius: 16.5px 16.5px;
    margin-top: 18px;
}
.search .text {
    display: inline-block;
    width: 112.5px;
    height: 16px;
    margin-left: 15.5px;
    border-color: transparent;
    outline: none;
    font-size: 11px;
    color: #c6c6c6;
}
.search .btn {
    margin-top: 8px;
    border: none;
}

.center {
    float: left;
    height: 31px;
    margin-left: 12.5px;
    margin-top: 18px;
    border-radius: 16.5px;
    border-style: solid;
    border-color: #4f4f4f;
}
.center a {
    float: left;
    font-size: 12px;
    line-height: 31px;
    color: #c7c7c7;
    padding-left: 17.5px;
    padding-right: 17.5px;


}
.center:hover {
    border-color: #fff;
}

.sign {
    float: left;
    margin-left: 20px;
    margin-top: 27px;
    color: #5b5b5b;
    font-size: 12px;

}
.sign:hover {
    color: #c6c6c6;
    text-decoration: underline;
}

.nav .angle {
    position: absolute;
    left: 795px;
    top: 100%;
    margin-top: -17px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #c20c0c;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 2;
}


.download {
    float: left;
    width: 100%;
    height: 667px;
    background-color: rgb(23,23,23);
}

.download .left {
    float: left;
    width: 465px;
    height: 490px;
    margin-top: 80px;
    margin-left: 174px;
}

.download .left .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
    margin-bottom: 22px;
}

.download .left .pic img {
    width: 100%;
}

.download .left .pic1 {
    width: 100%;
    height: 45px;
    margin-top: 25px;
}

.download .left .pic1 .mac,
.windows{
    float: left;
    height: 100%;
}

.download .left .pic1 .mac {
    margin-left: 62px;
}

.download .left .pic1 .windows {
    margin-left: 41px;
}

.download .left .btn {
    float: left;
    font-size: 22px;
    color: rgb(209,0,0);
    text-align: center;
    line-height: 66px;
    width: 302px;
    height: 66px;
    margin-top: 20px;
    margin-left: 81.5px;
    border-radius: 33px;
    background-color: white;
}

.download .left .btn:hover {
    background-color: rgb(186,186,186);
}


.download .right {
    float: left;
    width: 303px;
    height: 490px;
    margin-top: 80px;
    margin-left: 265px;
}

.download .right .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
    margin-bottom: 22px;
}

.download .right .pic img {
    width: 250px;
    margin-left: 26px;
}

.download .right .pic1 {
    width: 100%;
    height: 45px;
    margin-top: 25px;
}

.download .right .pic1 .app,
.android{
    float: left;
    height: 100%;
}

.download .right .pic1 .app {
    margin-left: 10px;
}

.download .right .pic1 .android {
    margin-left: 38px;
}

.download .right .btn {
    float: left;
    font-size: 22px;
    color: rgb(209,0,0);
    text-align: center;
    line-height: 66px;
    width: 302px;
    height: 66px;
    margin-top: 20px;
    border-radius: 33px;
    background-color: white;
}

.download .right .btn:hover {
    background-color: rgb(186,186,186);
}


.content>div{
    float: left;
    width: 99.9%;
    height: 438px;
    border: 0.5px solid #c2c2c2;
}

.content .one,
.three,
.five {
    background-color: rgb(255,255,255);
}

.content.two,
.four {
    background-color: rgb(245,245,245);
}

.content .one .text,
.content .three .text,
.content .five .text{
    float: left;
    width: 420px;
    height: 110px;
    margin-left: 215px;
    margin-top: 162px;
}

.content .one .text .title,
.content .three .text .title,
.content .five .text .title{
    float: left;
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: rgb(51,51,51);
}

.content .one .text .word,
.content .three .text .word,
.content .five .text .word{
    float: left;
    width: 100%;
    height: 55px;
    padding-top: 15px;
}

.content .one .photo,
.content .three .photo,
.content .five .photo{
    float: left;
    width: 410px;
    height: 195px;
    margin-top: 117px;
    margin-left: 90px;
}
.content .five .photo {
    margin-top: 40px;
}

.content .one .photo img,
.content .three .photo img,
.content .five .photo.img{
    width: 100%;
}

.content .two .photo,
.content .four .photo {
    float: left;
    width: 410px;
    height: 195px;
    margin-top: 117px;
    margin-left: 205px;
}

.content .two .photo img,
.content .four .photo img {
    width: 100%;
}

.content .two .text,
.content .four .text {
    float: left;
    width: 420px;
    height: 110px;
    margin-left: 70px;
    margin-top: 162px;
}

.content .two .text .title,
.content .four .text .title {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: rgb(51,51,51);
}

.content .two .text .word,
.content .four .text .word {
    float: left;
    width: 100%;
    height: 55px;
    padding-top: 15px;
}














