body {
    background-color: #f5f5f5;
}

.nav {
    height: 70px;
    background-color: #242424;
    border-bottom: solid #000000;

}

.logo {
    float: left;
    width: 162px;
    height: 32.5px;
    margin-left: 160px;
    margin-right: 16.5px;
    margin-top: 20px;
}

.menu {
    float: left;
}
.menu a {
    float: left;
    font-size: 15px;
    color: #c2c2c2;
    padding-left: 17.5px;
    padding-right: 17.5px;
    line-height: 70px;
    /* background-color: blue; */
}
.menu a:hover {
    color: #fff;
    background-color: #000000;
    ;
}
.menu .first{
    color: #fff;
    background-color: #000000;
}

.search {
    float: left;
    width: 162.5px;
    height: 33px;
    margin-left: 85px;
    background-color: #fff;
    border-radius: 16.5px 16.5px;
    margin-top: 18px;
}
.search .text {
    display: inline-block;
    width: 112.5px;
    height: 16px;
    margin-left: 15.5px;
    border-color: transparent;
    outline: none;
    font-size: 11px;
    color: #c6c6c6;
}
.search .btn {
    margin-top: 8px;
    border: none;
}

.center {
    float: left;
    height: 31px;
    margin-left: 12.5px;
    margin-top: 18px;
    border-radius: 16.5px;
    border-style: solid;
    border-color: #4f4f4f;
}
.center a {
    float: left;
    font-size: 12px;
    line-height: 31px;
    color: #c7c7c7;
    padding-left: 17.5px;
    padding-right: 17.5px;
    

}
.center:hover {
    border-color: #fff;
}

.sign {
    float: left;
    margin-left: 20px;
    margin-top: 27px;
    color: #5b5b5b;
    font-size: 12px;

}
.sign:hover {
    color: #c6c6c6;
    text-decoration: underline;
}

.nav2 {
    float: left;
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #c20c0c;
}
.nav2 .menu2 {
    float: left;
    width: 587.5px;
    height: 20px;
    margin-left: 340px;
    margin-top: 7.5px;
}

.nav2 .menu2 a {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    margin: 0 17.5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 10px;
}
.nav2 .menu2 a:hover {
    background-color: #9b0909;
}
.nav2 .menu2 .first {
    background-color: #9b0909;
}
.nav2 .angle {
    position: absolute;
    left: 388.5px;
    top: -17.5px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #c20c0c;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 2;
}

.content {
    float: left;
    width: 100%;
    height: 285px;
    background-color: #4a97bb;
}
.content .poster {
    position: relative;
    float: left;
    width: 731.5px;
    height: 285px;
    background-color: pink;
    margin-left: 202px;
}
.content .poster img {
    display: inline-block;
    width: 731.5px;
    height: 285px;
}
.content .download {
    float: left;
    width: 253.5px;
    height: 285px;
}
.content .download>div {
    float: left;
    width: 127.5px;
    height: 143.5px;
    background-image: url("../upload/download.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    zoom: 2;
    /* background-color: red; */
}
.content .download a{
    float: left;
    width: 107.5px;
    height: 28.25px;
    margin-left: 9.5px;
    margin-top: 92.5px;
}
.content .download a:hover {
    background-color: rgb(0,0,0,0.1);
}
.content .left a,
.content .right a{
    width: 45px;
    height: 65px;
    font-size: 50px;
    color: #e8e8e8;
}
.content .left a {
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    margin-left: -45px;
}
.content .right a {
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    right: 0;
    margin-right: -298.5px;
}
.content .left a:hover,
.content .right a:hover {
    background-color: #a8a8a8;
}
.content .poster .choice {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 30px;
}
.content .poster .choice a {
    float: left;
    width: 6px;
    height: 6px;
    margin: 12.5px 8px;
    background-color: #c7c7c7;
    border-radius: 3px;
}
.content .poster .choice a:hover {
    background-color: #c10d0c;
}


.main {
    float: left;
    width: 985px;
    height: 1428px;
    margin-left: 202px;
    margin-top: 0.5px;
    border: 0.5px solid #c2c2c2;
}
.main .column {
    float: left;
    width: 731.5px;
    height: 100%;
    background-color: #fff;
    border: 0.5px solid #c2c2c2;
}
.main .column .hot {
    float: left;
    width: 100%;
    height: 560px;
    background-color: #fff;
}
.main .column .hot .head,
.new .head,
.list .head {
    float: left;
    width: 96%;
    height: 36px;
    margin-top: 16.5px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c10d0c;
}
.head .link {
    float: left;
    width: 272.5px;
    height: 13px;
    margin-top: 11.5px;
}
.head .link a {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-size: 12px;
    color: #666666;
    line-height: 13px;
    border-right: 0.5px solid #666666;
}
.head .one {
    float: left;
    margin-left: 38.5px;
    margin-right: 5px;
    font-size: 20px;
    color: #333333;
    line-height: 36px;
}
.head .six {
    border-right: 0.5px solid transparent;
}
.column .head .more {
    height: 13px;
    margin-top: 11.5px;
    float: right;
}
.head .seven {
    margin-right: 45px;
    font-size: 12px;
    color: #666666;
    line-height: 13px;
    border-right: 0.5px solid transparent;
}
.hot .link a:hover,
.hot .more a:hover,
.new .more a:hover,
.list .more a:hover {
    text-decoration:underline;
}
.column .new {
    float: left;
    width: 100%;
    height: 277.5px;
}
.column .list {
    float: left;
    width: 100%;
    height: 642.5px;
    background-color: #fff;
}
.hot .body>div {
    float: left;
    width: 140px;
    height: 210px;
    margin: 20px;
    margin-top: 0;
}
.hot .body>div>div {
    border: 0.5px solid #c2c2c2;
}
.hot .body img {

    float: left;
    width: 140px;
    height: 140px;
}
.hot .body span {
    display: inline-block;
    margin-top: 7.5px;
    font-size: 14px;
    color: #000000;
}
.hot .body span a {
    color: #000000;
}
.hot .body span a:hover {
    text-decoration:underline;
}
.new .body {
    position: relative;
    float: left;
    width: 689px;
    height: 188px;
    background-color: #f5f5f5; 
    margin-left: 22.5px;
    border: 0.5px solid #c2c2c2;
}
.new .body>div {
    float: left;
    width: 100px;
    height: 140px;
    /* background-color: pink; */
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 17.5px;
}
.new .body img {
    float: left;
    width: 100px;
    height: 100px;
    border: 0.5px solid #c2c2c2;
}
.new .body h {
    display: inline-block;
    height: 15px;
    width: 100px;
    font-size: 10px;
    margin-top: 7.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: blue; */
}
.new .body span {
    display: inline-block;
    height: 11.5px;
    width: 100px;
    font-size: 10px;
    margin-top: 2.5px;
    /* background-color: red; */
}
.new .body h a {
    color: #000000;
}
.new .body span a {
    color: #666666;
}
.new .body h a:hover,
.new .body span a:hover {
    text-decoration: underline;
}
.new .left a,
.new .right a{
    font-size: 20px;
    color: #a8a8a8;
}
.new .body .left a {
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: 6px;
}
.new .body .right a {
    position: absolute;
    top: 40%;
    right: 0;
    margin-right: 15px;
}
.new .left a:hover,
.new .right a:hover {
    color: #4f4f4f;
}
.column .list .body {
    float: left;
    width: 685.7px;
    height: 472px;
    background-color: rgb(244,244,244);
    margin-left: 22.5px;
    border: 0.5px solid rgb(221,221,221);
}
.list .body>div {
    float: left;
    height: 100%;
    width: 227.5px;
    border: 0.5px solid rgb(221,221,221);
}
.list .body .title {
    float: left;
    width: 227.5px;
    height: 120px;
}
.list .title .photo a {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #c2c2c2;
}
.list .title .photo a img {
    display: inline-block;
    width: 80px;
    height: 80px;

}
.list .title .text {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.list .title .text a {
    font-size: 15px;
    color: #000000;
}
.list .title .text a:hover {
    text-decoration: underline;
}

.list .body .ol {
    float: left;
    width: 227.5px;
    height: 320px;
}
.list .ol ol {
    display: inline-block;
    width: 227.5px;
    height: 320px;
}
.list .ol ol li {
    float: left;
    width: 227.5px;
    height: 32px;
}
.list li span {
    float: left;
    width: 24px;
    margin-left: 12.5px;
    font-size: 14px;
    padding: 6.5px 10px;
}
.list li a {
    float: left;
    width: 150px;
    height: 32px;
    font-size: 12.5px;
    line-height: 32px;
    color: #000;
}
.list li .top {
    color:rgb(193,13,90);
}
.list .danshu {
    background-color: #e8e8e8;
}
.list .body .more {
    float: left;
    width: 227.5px;
    height: 31.5px;
    background-color: #e8e8e8;
}
.list .body .more a {
    float: right;
    font-size: 12.5px;
    color: #000;
    margin-top: 8.75px;
    margin-right: 32.5px;
}
.list li a:hover {
    text-decoration: underline;
}


.main .sidebar {
    float: left;
    width: 250px;
    height: 100%;
    background-color: #fff;
}
.sidebar .signin {
    float: left;
    width: 252.5px;
    height: 122.5px;
    background-color: rgb(234,234,234);
    border-bottom: 0.5px solid #a8a8a8;
}
.sidebar .signin .text {
    float: left;
    width: 205.5px;
    height: 45px;
    margin-top: 19px;
    margin-left: 26px;
    font-size: 12px;
}
.sidebar .signin .link {
    float: left;
    margin-top: 7.5px;
    margin-left: 75px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    background-color: rgb(209,16,22);
    border-radius: 5px;
}
.sidebar .signin .link a {
    font-size: 12px;
    color: #fff;
}
.sidebar .signin .link:hover {
    background-color: rgb(224,32,40);
}

.sidebar .singer {
    float: left;
    width: 252.5px;
    height: 1300px;
}
.sidebar .singer .head {
    float: left;
    width: 212.5px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-bottom: 1.5px solid #a8a8a8;
}
.sidebar .singer .head span {
    float: left;
    font-size: 13px;
    color: #000000;
    line-height: 30px;
}
.sidebar .singer .head a {
    float: right;
    font-size: 13px;
    color: #666666;
    line-height: 30px;
}
.sidebar .singer .head a:hover {
    text-decoration: underline;
}

.sidebar .singer .body {
    float: left;
    width: 212.5px;
    height: 382.5px;
    margin-left: 20px;
    margin-top: 12.5px;
    background-color: #fff;
}
.sidebar .singer .body a {
    float: left;
    width: 212.5px;
    height: 62.5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    font-size: 16.5px;
    line-height: 62.5px;
    color: #000;
    border: 0.5px solid #a8a8a8;

}
.sidebar .singer .body img {
    float: left;
    width: 62.5px;
    height: 62.5px;
    margin-right: 25px;
}
.sidebar .singer .body a:hover {
    background-color: rgb(244,244,244);
}
.sidebar .singer .apply {
    display: inline-block;
    margin-top: 25px;
    margin-left: 19px;
    padding: 7px 51.5px;
    font-size: 12.5px;
    color: #000;
    background-color: rgb(244,244,244);
    border-radius: 5px;
    border: 1px solid #c6c6c6;
}
.sidebar .singer .apply:hover {
    background-color: rgb(252,252,252);
}

.bottom {
    float: left;
    width: 100%;
    height: 250px;
    background-color: #fff;
    border: 0.5px solid #a8a8a8;
}
.bottom .service {
    float: left;
    width: 927px;
    height: 150px;
    margin-left: 215px;
}
.bottom .service>div {
    float: left;
    width: 74px;
    height: 74px;
    margin: 29px;
    background-color: #fff;
}
.bottom a {
    float: left;
    margin: 0 8.5px;
    height: 55px;
    width: 55px;
    background-image: url("../images/service.png");
}
.bottom span {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 74px;
    margin: 7.5px auto;
}

.bottom .service .one {
    background-position: -165px 0;
}
.bottom .service .two {
    background-position: 0 -165px;
}
.bottom .service .three {
    background-position: 0 -55px;
}
.bottom .service .four {
    background-position: -55px -55px;
}
.bottom .service .five {
    background-position: -110px -110px;
}
.bottom .service .six {
    background-position: -165px -110px;
}
.bottom .service .seven {
    background-position: -165px -55px;
}

.bottom .service .one:hover {
    background-position: 0 -110px;
}
.bottom .service .two:hover {
    background-position: -55px -165px;
}
.bottom .service .three:hover {
    background-position: -55px 0;
}
.bottom .service .four:hover {
    background-position: -110px 0;
}
.bottom .service .five:hover {
    background-position: 0 0;
}
.bottom .service .six:hover {
    background-position: -55px 0;
}
.bottom .service .seven:hover {
    background-position: -110px -550px;
}
